<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConsignmentPOS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ConsignmentPOS.Properties.Settings.CoStoreConnectionString"
            connectionString="Data Source=KEITH-LAPTOP\SQLEXPRESS;Initial Catalog=CoStore;Integrated Security=True;Connect Timeout=30;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <ConsignmentPOS.Properties.Settings>
            <setting name="ReceiptHeading" serializeAs="String">
                <value>Round the Curve to Altoona 2023 MER Convention</value>
            </setting>
            <setting name="SellersRelease1" serializeAs="String">
                <value>Your signature acknowledges that all unsold items have been returned to you</value>
            </setting>
            <setting name="SellersRelease2" serializeAs="String">
                <value>in substantially the same condition as when they were received for sale, you</value>
            </setting>
            <setting name="SellersRelease3" serializeAs="String">
                <value>have received the proper amount for items sold, and you hold no further</value>
            </setting>
            <setting name="SellersRelease4" serializeAs="String">
                <value>claims on the White Elephant Sale activity of the convention.</value>
            </setting>
            <setting name="MonetaryUnits" serializeAs="String">
                <value>All monetary amounts are US dollars</value>
            </setting>
            <setting name="CommissionRate" serializeAs="String">
                <value>0.15</value>
            </setting>
            <setting name="ConsignmentStmt1" serializeAs="String">
                <value>The items listed above have been consigned from the seller listed above</value>
            </setting>
            <setting name="ConsignmentStmt2" serializeAs="String">
                <value>to the White Elephant Sale of the convention.</value>
            </setting>
        </ConsignmentPOS.Properties.Settings>
    </applicationSettings>
</configuration>